# Licensed to the Apache Software Foundation (ASF) under one or more
# license agreements; and to You under the Apache License, version 2.0:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# This file is part of the Apache Pekko project, which was derived from Akka.
#

name: Nightly Snapshot Dependency Test (1.x)

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  sbt:
    name: sbt test with latest pekko/pekko-main snapshots
    runs-on: ubuntu-latest
    if: github.repository == 'apache/pekko-grpc'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
          ref: 1.2.x
          
      - name: Setup Java 8
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 8    

      - name: Install sbt
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

      - name: Test
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt -Dpekko.build.pekko.version=1.5.x -Dpekko.build.pekko.http.version=main test
